.input{
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: inset 0 0 5px #000000;
}
.label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.invalid-feedback{
    color: red;
    font-size: 14px;
}
.is-invalid{
    border: 2px solid red;
}
